html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: linear-gradient(to right, #d0e54d, #b6a2ff);
}

/* makes header scroll*/
header {
  width: 90%;

  margin: auto;
  height: 75px;
  background-color: red;

  margin-top: 45px;
  margin-bottom: 45px;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* header wrapper. drop down nav is outside this wrapper but maintains flow of header when scrolling*/
.top-header-wrapper {
  display: flex;

  margin: auto;
  justify-content: space-between;
  align-items: center;
  background-color: #3c2157;
  border-bottom: 1px solid #b6a2ff;
}

/* my name inside h1 tag*/
header h1 {
  text-align: center;
  font-size: 18px;
  margin-left: 5%;
  padding-left: 20px;
  padding-right: 20px;
  color: #3c2157;
  background-color: #ffbb36;
  line-height: 50px;
  border-radius: 10px;
  font-weight: bold;
  font-family: cursive;
  letter-spacing: -0.03em;
}

/*hamburger container*/
.hamburger {
  cursor: pointer;
  padding-right: 5%;
}

/*hamburger bars created with css*/
.hamburger .bar-1 {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 8px;
  transition: 0.5s ease;
}

/*dropdown menu. NOT INSIDE .top-header-wrapper but still inside header. (easier to position and maintains its position when scrolling) */
nav {
  display: flex;
  justify-content: flex-end;

  overflow: hidden;
}

nav .menu {
  display: block;
  list-style-type: none;
  width: 100%;
  background-color: #3c2157;
  height: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -265px;
  transition: 0.5s ease;
}

nav .menu li {
  width: 60%;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #ffbb36;
}

nav .menu li a {
  display: flex;
  padding: 15px;
  justify-content: center;
  font-weight: bold;
  font-family: arial;
  font-size: 15px;
  text-decoration: none;
  color: #3c2157;
}

.career_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  margin: auto;
  padding-bottom: 40px;
  padding-top: 40px;
  row-gap: 20px;
  gap: 50px;

  text-align: center;

  background-color: #d0e54d;
}

.career_item {
  background-color: #3c2157;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 40px;
}

.svg_clipped {
  width: 196px;
  height: 196px;
  background-image: url(images/adam-sandler-happy-gilmore.jpg);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center;
  margin-top: 40px;
  transition: 0.5s ease;
}

.career_item:hover .svg_clipped {
  background-size: 150%;
}

.career_section h2 {
  font-size: 40px;
  font-family: cursive;
  color: #ffbb36;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.career_section p {
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  font-family: arial;
  letter-spacing: 0.1em;
  width: 80%;
  margin: auto;
}

.svg_clipped_1 {
  width: 196px;
  height: 196px;
  background-image: url(images/laptop-1.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  margin-top: 40px;
  transition: 0.5s ease;
}

.career_item:hover .svg_clipped_1 {
  background-size: 140%;
}

#score {
  width: 100px;
  text-align: center;
  padding: 0;
  margin: auto;
  position: sticky;
  top: 111px;
  color: #3c2157;
  background-color: #ffbb36;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  font-family: cursive;
  letter-spacing: -0.03em;
  border: 1px solid black;
  z-index: 1;
  margin-bottom: -50px;
  margin-top:25px
}

.categories_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  background-image: linear-gradient(to right, #d0e54d, #b6a2ff);
  margin: auto;
  padding-top: 80px;
  row-gap: 20px;
  gap: 50px;
  text-align: center;
}

.categories_section .categories_behind {
  display: flex;
  width: 88%;
  margin-left: 5%;
  border-radius: 10px;
  background-color: #b6a2ff;
}

.categories_section .categories_behind:hover .categories_front {
  right: 0;
  top: 0;
}

.categories_front {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  background-color: #3c2157;
  padding: 5%;
  padding-bottom: 40px;
  position: relative;
  right: -8px;
  top: -8px;
  transition: 0.3s ease;
  border-radius: 10px;
}

.categories_front p {
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  font-family: arial;
  letter-spacing: 0.1em;
  width: 80%;
  margin: auto;
  margin: 0px;
  padding: 0;
}

.categories_front h2 {
  font-size: 36px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffbb36;
  font-family: cursive;
  letter-spacing: -0.03em;
}

.button-wrapper {
  margin-top: 20px;
}

.categories_btn {
  display: block;
  width: 170px;
  height: 47px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  line-height: 51px;
  font-weight: bold;
  color: #3c2157;
  background-color: #b6a2ff;
  font-family: "Bebas Neue", cursive;
  position: relative;
  margin-bottom: 15px;
  letter-spacing: 0.1em;
  border-radius: 5px;
  cursor: pointer;
}

.correct-modal,
.wrong-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 20px;
  border-style: dashed;
  display: none;
}

.correct-modal {
  color: green;
  background-color: white;
}

.wrong-modal {
  color: red;
  background-color: white;
}

span {
  font-size: 40px;
  font-weight: bold;
  font-family: arial;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

@media screen and (min-width: 450px) {
  header {
    margin-top: 45px;
    margin-bottom: 85px;
  }

  header h1 {
    font-size: 25px;
    height: 90%;
    line-height: 76px;
  }
}

@media screen and (min-width: 500px) {
  nav .menu {
    width: 50%;
  }
}

@media screen and (min-width: 770px) {
  .categories_section {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 990px) {
  nav .menu {
    width: 30%;
  }

  .career_items_wrapper {
    display: flex;
    padding-top: 30px;
    background-color: #d0e54d;
    border-top: 1px solid yellow;
  }

  .career_section {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-bottom: 90px;
  }

  .career_item {
    width: 100%;
    height: 100%;
  }

  .svg_clipped_1,
  .svg_clipped {
    width: 216px;
    height: 216px;
  }

  .categories_section_wrapper {
    margin-top: 30px;
    background-image: linear-gradient(to right, #d0e54d, #b6a2ff);
    margin-bottom: 180px;
    padding-top: 30px;
  }

  .categories_section .categories_behind {
    width: 80%;
    margin-left: 9%;
    margin-top: 20px;
  }

  #score{margin-top:-25px}


}
